
$police-main: 'Montserrat', sans-serif;
$police-descriptive: 'Roboto', sans-serif;
$police-seconde: 'Cinzel', serif;
$police-seconde--alt: 'Cinzel Decorative', cursive;

$fx-box-shadow-top: -4px -5px 10px rgba(0,0,0,0.250);

// region Colors-Variable
$color-beige: rgba(249, 240, 220, 1);
$color-dark-grey: rgba(48, 54, 54, 1);
$color-light-grey: rgba(158, 158, 158, 1);
$color-dark-gray-90: rgba(48, 54, 54, 0.950);
$color-orange: rgba(255, 129, 51, 1);
$color-blanc: rgba(255, 255, 255, 1);
$color-special-prim: rgba(29, 138, 203, 1);
$color-special-sec: rgba(32, 43, 49, 1);
$color-special-prim-60: rgba(32, 43, 49, 0.750);
$color-special-third: rgba(0, 158, 208, 1);
$color-gold: rgba(224, 170, 62, 1);
$color-gold-90: rgba(224, 170, 62, 0.900);
$color-gray-shadow-logo: rgba(68, 68, 68, 1);
//endregion

//region Mixins-Text-Style
@mixin text-style-menu-titre {
  font-size:1.625rem;
  font-family: $police-seconde;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-menu-prix {
  font-size:1rem;
  font-family:$police-main;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-menu-description {
  font-size:1rem;
  font-family:$police-main;
  font-weight:normal;
  font-style:italic;
  text-decoration:none;
}
@mixin text-style-title {
  font-size:1.562rem;
  font-family:$police-main;
  font-weight:bolder;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-sub-title {
  font-size:1.125rem;
  font-family:$police-main;
  font-weight:bolder;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-menu-pizza-title {
  font-size:1.062rem;
  font-family:$police-main;
  font-weight:bolder;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-menu-sub-title {
  font-size:0.75rem;
  font-family:$police-main;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;
}
@mixin text-style-menu-pizza-ingredients {
  font-size:0.875rem;
  font-family:$police-main;
  font-weight:bold;
  font-style:italic;
  line-height:141.4%;
  letter-spacing:0.02em;
  text-decoration:none;
}
@mixin text-style-desktop-menu-nav-bar {
  font-size:1.312rem;
  font-family:$police-main;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
//endregion


.itemsCard{
  @include text-style-menu-pizza-ingredients;
  box-shadow: $fx-box-shadow-top;
  img{
    width: 20%;
  }
}
