@use 'normalize.css';
@use 'settings' as var;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-size: 62.5%;
   overflow-x: hidden;

   li {
      list-style: none;
   }
}

//region NAVIGATION-MOBILE
.icon-logo-minify {
   position: fixed;
   right: 0;
   top: 0;
   cursor: pointer;
}

.nav-btn-full {
   @include var.btn-nav--full;
}

.nav-btn-empty {
   @include var.btn-nav--empty;
}

.navigation {
   width: var.$fullWidth;
   height: var.$fullHeight;
   position: fixed;
   margin: 0;
   padding: 0;
   z-index: 50;

   .navigationWrapper {
      @include var.dark-home-page;

      .social-grid {
         @include var.social-grid-top(4.2rem);
      }
   }
}

//endregion

