@use 'normalize.css';
@use 'settings' as var;
@use 'components' as comp;

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-size: 62.5%;
   overflow-x: hidden;

   li {
      list-style: none;
   }

   scroll-behavior: smooth;
}

.neoMorphism {
   box-shadow: -2px -2px 3px 0px rgba(158, 158, 158, 0.5), 2px 2px 3px 0px rgba(0, 0, 0, 0.4);

   &:focus,
   &:active {
      box-shadow: inset -2px -2px 3px 0px rgba(158, 158, 158, 0.5),
         inset 2px 2px 3px 0px rgba(0, 0, 0, 0.4);
   }
}

.borderTop {
   box-shadow: -4px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

//region NAVIGATION-MOBILE

.nav-btn-full {
   @include var.btn-nav--full;
}

.nav-btn-empty {
   @include var.btn-nav--empty;
}

.navigation {
   width: var.$fullWidth;
   height: var.$fullHeight;
   position: fixed;
   margin: 0;
   padding: 0;
   z-index: 50;

   .navigationWrapper {
      @include var.dark-home-page;

      .social-grid {
         @include var.social-grid-top(4.2rem);
      }
   }
}

//endregion

.scroll-icon {
   animation-name: scrollY;
   animation-duration: 750ms;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

@keyframes scrollY {
   0% {
      transform: translateY(-1rem);
   }
   100% {
      transform: translateY(1rem);
   }
}

.modal {
   width: 100%;
   height: 100%;
   background: rgba(32, 43, 49, 0.9);
   border-radius: 20px;

   &::backdrop {
      background: rgba(0, 0, 0, 0.75);
   }
}
