

// region Colors-Variable
//$color-beige: rgba(249, 240, 220, 1);
$color-beige: #f9f0dc;
$color-beige-light: rgba(249, 240, 220, 0.5);
$color-light-grey: rgba(158, 158, 158, 1);
$color-dark-grey: rgba(48, 54, 54, 1);
$color-dark-gray-90: rgba(48, 54, 54, 0.950);
$color-dark-gray-light: rgba(32, 43, 49, 0.7);
$color-orange: rgba(255, 129, 51, 1);
$color-blanc: rgba(255, 255, 255, 1);
$color-special-prim: rgba(29, 138, 203, 1);
$color-special-sec: rgba(32, 43, 49, 1);
$color-special-prim-60: rgba(32, 43, 49, 0.750);
$color-special-third: rgba(0, 158, 208, 1);
$color-gold: rgba(224, 170, 62, 1);
$color-gold-90: rgba(224, 170, 62, 0.95);
$color-gray-shadow-logo: rgba(68, 68, 68, 1);
//endregion