$police-main: 'Montserrat', sans-serif;
$police-descriptive: 'Roboto', sans-serif;
$police-seconde: 'Cinzel', serif;
$police-seconde--alt: 'Cinzel Decorative', cursive;

$fs-home-sm: 1.2rem;
$fs-home-reg: 1.6rem;
$fs-home: 2.5rem;
$fs-home-400: 1.6rem;


$fs-nav-aside: 0.9rem;
$fs-nav-reg: 1.2rem;
$fs-nav-h2: 1.5rem;
$fs-nav-h1: 1.8rem;

$fs-carte-reg: 1.2rem;
$fs-carte-desc: 1.3rem;
$fs-carte-icons: 1.3rem;
$fs-carte-price: 1.7rem;
$fs-carte-h1: 1.8rem;
