@use './fonts' as font ;
@use './colors' as col ;
@use './layout'as layout;

//region APP-HOME
@mixin dark-home-page {
  width: layout.$fullWidth;
  height: layout.$fullHeight;
  display: grid;
  align-content: space-evenly;
  justify-items: center;
  font-family: font.$police-main;
  font-weight: 600;
  text-transform: uppercase;

  background-color: col.$color-dark-grey;
  color: col.$color-beige;
}

@mixin grid-home-page {

  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 1.8rem;
  .grid-heroTop {   z-index: 5; grid-area: 1 / 1 / 3 / 6;  }
  .grid-btnLeft {   z-index: 5; grid-area: 3 / 1 / 4 / 4;  }
  .grid-btnCenter { z-index: 5; grid-area: 4 / 2 / 5 / 5;  }
  .grid-btnRight {  z-index: 5; grid-area: 5 / 3 / 6 / 6;  }
  .social-grid {    z-index: 5; grid-area: 6 / 4 / 7 / 6;  }
}
//endregion

//region Buttons
@mixin btn-nav {
  width: 15.6rem;
  height: 6.8rem;
  box-sizing: border-box;
  border-radius: 37.5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@mixin btn-nav--empty($fs: font.$fs-home-reg) {
  @include btn-nav;
  border: 2px solid col.$color-beige;
  background-color: col.$color-dark-grey;
  color: col.$color-beige;
  font-size: $fs;
}

@mixin btn-nav--full($fs: font.$fs-home-reg) {
  @include btn-nav;
  border: none;
  background-color: col.$color-beige;
  color: col.$color-dark-grey;
  font-size: $fs;
}

//endregion

//region socials
@mixin social-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.5rem;
  //row-gap: 1rem;
  height: min-content;
}

@mixin social-grid-top($icon:4.2rem) {
  @include social-grid;
  grid-template-areas: "top        top"
                        "bottom-left bottom-right";
  .info-tel {
    grid-area: top;
    align-self: end;
    text-align:center;
    height: fit-content;
    font-size: font.$fs-home-sm;
  }
  .icon-facebook {
    grid-area: bottom-left;
  }
  .icon-instagram {
    grid-area: bottom-right;
  }
  .icon svg{
    width: $icon;
    height: $icon;
  }
}

@mixin social-grid-bottom($icon:4.2rem) {
  @include social-grid;
  grid-template-areas: "top-left top-right"
                        "bottom    bottom";
  .icon{
    width: $icon;
    height: $icon;
  }
  .icon-facebook {
    grid-area: top-left;
  }
  .icon-instagram {
    grid-area: top-right;
  }
  .info-tel {
    grid-area: bottom;
    align-self: end;
    text-align:center;
    height: fit-content;
    font-size: font.$fs-home-sm;
  }
}


//endregion

//region Mixins-LaCarte
@mixin text-style-menu-titre {
  font-size: 1.625rem;
  font-family: font.$police-seconde;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-menu-prix {
  font-size: 1rem;
  font-family: font.$police-main;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-menu-description {
  font-size: 1rem;
  font-family: font.$police-main;
  font-weight: normal;
  font-style: italic;
  text-decoration: none;
}

//endregion

//region misc
@mixin text-style-title {
  font-size: 1.562rem;
  font-family: font.$police-main;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-sub-title {
  font-size: 1.125rem;
  font-family: font.$police-main;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-menu-pizza-title {
  font-size: 1.062rem;
  font-family: font.$police-main;
  font-weight: bolder;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-menu-sub-title {
  font-size: 0.75rem;
  font-family: font.$police-main;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
}

@mixin text-style-menu-pizza-ingredients {
  font-size: 0.875rem;
  font-family: font.$police-main;
  font-weight: bold;
  font-style: italic;
  line-height: 141.4%;
  letter-spacing: 0.02em;
  text-decoration: none;
}

@mixin text-style-desktop-menu-nav-bar {
  font-size: 1.312rem;
  font-family: font.$police-main;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

//endregion

