<div>
    <h1>Nous Trouver</h1>
    <h2>Choisissez un jour</h2>
    <form action="">
        <div>
            <input type="radio" id="mardi" name="drone" value="mardi"/>
            <label htmlFor="mardi">Mardi</label>
        </div>

        <div>
            <input type="radio" id="mercredi" name="drone" value="mercredi"/>
            <label htmlFor="mercredi">Mercredi et Jeudi</label>
        </div>

        <div>
            <input type="radio" id="vendredi" name="drone" value="vendredi"/>
            <label htmlFor="vendredi">Vendredi et Samedi</label>
        </div>

        <div>
            <input type="radio" id="tous" name="drone" value="tous" checked/>
            <label htmlFor="tous">Tous les emplacements</label>
        </div>
    </form>

    <div ref={mapRef}/>

<!--        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhCBXrlV6JD2dS32l2aXPXG4O8A7C3szw&libraries=places&callback=initMap&solution_channel=GMP_codelabs_simplestorelocator_v1_a"></script>-->
    </div>